@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css); 
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css); 

body	{margin: 0;
	font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif}

/*    Temporary CSS    */
/*
header {
	width:99%;
	height:100px;
	border:1px solid blue;
}

section {
	width:99%;
	height:700px;
	border:1px solid blue;
}

footer {
	width:99%;
	height:100px;
	border:1px solid blue;
}
*/

/* 박스의 왼쪽 오른쪽에 공백 확보 */
.header-site, .contents, .header-nav-inner, .footer-inner
	{padding-left: 10px;
	padding-right: 10px;}

/* 사이트 이름 */
.site-name h1 a	{color: #83a4a8; /* 사이트 이름 링크 스타일 지정 */
	text-decoration: none}
	
	
/* 사이트 아이콘 오른쪽 여백 설정 */
.site-name h1 a i	{ /* 사이트 이름 링크 스타일 지정 */
	margin-right: 10px;}

.site-name h1	{margin: 0; /* 사이트 이름 마진, 폰트 스타일 지정 */
	font-size: 30px;
	font-family: 'Paytone One', sans-serif;
	font-weight: normal;}


/* 내비게이션 */
.header-nav	{background-color: #7cbac1}/* nav 배경색 지정 */

.menu ul	{margin: 0;/* 메뉴 목록 스타일 지정 */
	padding: 0;
	list-style: none;}

.menu li a	{ /* 링크 스타일 지정 */
	display: block;/* 링크 가능한 범위 지정을 위해 block으로 지정 */
	padding: 15px;/* 링크 내부 여백을 늘려 링크 범위를 키우기 위해 지정 */
	color: #000;
	font-size: 1.2em;
	text-decoration: none;}

.menu li a:hover	{color: #fff;/* 메뉴 항목에 마우스를 올렸을 때 스타일 지정 */
	background-color: #75dbe7}

/*
.menu ul:after	{content: "";
	display: block;
	clear: both;} */
	
.menu ul	{overflow:hidden ;}/* 메뉴 항목(li)을 가로로 배치하기 위해 스타일 지정 */

.menu li	{float: left;/*  메뉴 항목(li)을 왼쪽부터 가로방향으로 순서대로 배치 */ 
	width: auto;}
	
/* 컨텐츠  */
.category	{margin-bottom: 20px;} /* 모든 category에 margin-bottom(여백) 스타일 지정 */

.category a	{/* category의 링크(a)에 스타일 지정 */
	display: block; 
	border: solid 1px #dddddd;
	color: #000000;
	text-decoration: none;}

.category a:hover	{box-shadow: 0 0 10px #dddddd;}/* 마우스 오버시 box-shadow 처리 */

.category img	{/*  그림에 스타일 지정 */
	max-width: 100%; /* 브라우저 화면에 맞게 크기가 변경될 수 있도록 width:100%로 지정 */
	height: auto; /* 브라우저 화면에 맞게 크기가 변경될 수 있도록 height:auto로 지정 */
	border: none;/* ie10이전 버전에서그림 주변에 보더 생기는것을 제거 */ 
	margin-bottom: 15px;
	vertical-align: bottom;}

.category h1	{margin-top: 0;/*  제목 스타일 지정 */
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 22px;}

.category p	{margin-top: 0;/*  설명글 스타일 지정 */
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 14px;}
	
	
/* 계속 읽기 */
.more	{/* "계속읽기" 버튼 추가 및 스타일 지정 */
	display: inline-block;
	padding: 5px 20px;
	background-color: #3077be;
	color: #ffffff;}

.more i	{margin-left: 10px;/* 웹폰트 아이콘(>>) 스타일 지정 */
			font-size:20px;}


/* 배지 */
.badge	{/* 배지 스타일 지정 */
	width: 120px; 	height: 120px;/* 배지 크기 지정 */
	padding-top: 25px;
	/* padding-top 여백이 배지 크기(height)에 포함될 수 있도록 box-sizing을  border-box;로 지정 */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 60px;/* 배지 모양을 원형으로 하기 위해 radius를 너비와 높이의 1/2로 지정 */
	background-color: #00a0e9;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 4px #aaaaaa;}/* 배지에 그림자 효과를 지정 */

.badge i	{/* 배지 크기에 맞게 아이콘과 글자 스타일 지정 */
	display: block;/* 아이콘과 글자 사이에 개행을 넣고자 display 속성을 block으로 지정  */
	font-size: 40px}/* 글자 크지 지정 */


/* 배지의 출력 위치 */
.pickup	{position: relative;}/* 배지를 article(.pickup) 위에 겹쳐 올리기 위해 position: relative을 지정 */

.badge	{position: absolute;/* 배지를 .pickup에 배치하기 위해 절대위치로 스타일 지정 */
	top: 44%;
	right: -15px}

/* ================================================ */
/* 페이지네이션 */
.page-nation	{text-align: center}/* 페이지 중앙에 배치 */

.page-nation ul	{display: inline-block;/* 페이지네이션 마진과 패딩 스타일 지정 */
	margin: 0;
	padding: 0;
	list-style: none}

.page-nation li a	{display: block;/* 페이지네이션 링크(a) 테두리 스타일 지정 */
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 10px;
	border: solid 1px #aaaaaa;
	color: #000000;
	font-size: 14px;
	text-decoration: none}

.page-nation li a.active	{background-color: #cccccc}/* 현재페이지 배경색 스타일 지정 */

.page-nation li a:hover	{background-color: #eeeeee}/* 마우스 오버시 스타일 지정 */

.page-nation ul:after	{content: ""; /* 페이지네이션 항목(li)을 담을 ul 스타일 지정 */
	display: block;
	clear: both}

.page-nation li	{float: left;/* 페이지네이션 항목을 윈쪽방향에서부터 배치 */
	width: auto}

/* ==================================================*/
/* 저작권 */
.copyright p	{margin: 0;
	color: #666666;
	font-size: 1.2em;
	text-align: center;}


/* header-nav바의 형태로 디자인 */
.header-nav	{background-color: #7cbac1}


/* footer 위에 구분선을 추가 */
.footer	{border-top: solid 1px #dddddd}


/* 박스의 위아래 간격 */
.header-site	{padding-top: 8px;
	padding-bottom: 8px}

.contents	{padding-top: 20px;
	padding-bottom: 20px}

.footer	{padding-top: 15px;
	padding-bottom: 15px}
	
/* ==================================================*/
/* 브라우져 크기에 따른 화면 출력 브레이크 포인트 : 600px, 768px, 1040px
    - 599px이하
    - 600px이상
    - 600 ~ 767px
    - 768 ~ 1039px
    - 1040px이상
 */
	

/* ########### 599px 이하 ###( 3 )####### */
@media (max-width: 599px) {

	/* 배지 크기를 작게 스타일 지정 */
	.badge	{-ms-transform: scale(0.5);
		-ms-transform-origin: right top;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: right top;
		transform: scale(0.5);/* 배지 크기를 1/2 축소 */
		transform-origin: right top;/* 배지 출력 위치를 right top으로 변경 */
		top: -8px;
		right: 10px}
	
	
	/* 내비게이션 폰트 사이즈 축소 */
	.menu li a	{padding: 10px 3px;
		font-size: 11px}
	
	/* 사이트 이름과 기사의 제목 축소  */
	.site-name h1, .category h1	{font-size: 20px}
	
	/* 박스의 위아래 간격 스타일 지정*/
	.header-site	{padding-top: 4px;
		padding-bottom: 4px}
}


/* ########### 600px 이상( 공통 적용) ###( 1 )######## */
/* 카테고리를 가로로 2개씩 배치- 화면의 너비가 600px 이상일 때 적용 */
@media (min-width: 600px) {

	/* 카테고리를 가로 정렬하기 위해 .contents-list를 block으로 설정 */
	.contents-list:after	{content: "";
		display: block;
		clear: both;}
	
	.contents-list .category	{
		/* 카테고리의 폭을 50%로 지정하면, 가로로 2개가 배치되고,
		     나머지 2개는 다음줄로 자동 배치됨(컬럼 탈락기술) */
		float: left;
		width: 50%}
	
	.contents-list .category:nth-child(odd)/* 홀수 번째 카테고리의 오른쪽에 여백 스타일 지정 */
		{padding-right: 15px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		clear: both;}/* 화면이 650px보다 작을 때 가로로 정렬된 레이아웃이 깨지는 것을 막기 위해 지정 
		                       ("방의 가구를 꾸미는 방법"이라는 제목이 개행되어 높이가 바뀌면서 발생)*/
	
	.contents-list .category:nth-child(even)/* 짝수 번째 카테고리의 오른쪽에 여백 스타일 지정 */
		{padding-left: 15px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box}
}


/* ########### 600px 이상 ~ 767px 이하 ####( 2 )####### */
@media (min-width: 600px) and (max-width: 767px) {

	/* 배지의 출력 위치 변경 
	    768px의 브레이크 포인트보다 작은 화면에서 배지가 카테고리의 설명을 덮는 것을
	    막기 위해 배지크기와 표시 위치를 변경 */
	.badge	{top: 30%;
		right: 15px}

}

	
/* ########### 768px 이상 ~ 1039px 이하 ########### */
@media (min-width: 768px) and (max-width: 1039px) {



}	

/* ########### 1040px 이상 ########### */	
@media (min-width: 1040px) {

	/* 박스의 왼쪽 오른쪽에 공백 확보 */
	.header-site, .contents, .header-nav-inner, .footer-inner
		{width: 1000px;
		margin-left: auto;
		margin-right: auto}
}



